MONGO_URI=mongodb://localhost:27017/E-COMMERCE 
SESSION_SECRET=w1HDs7#j$0a@PQz93KdG2x7L8PlUv
IMAGEKIT_PUBLIC_KEY= public_dEAjStSDXkt0wep0rqv6F9w1sJE=
IMAGEKIT_PRIVATE_KEY= private_Lo/W2NiYawnkHbtVza5bQQx6b14=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/comlwe12h
